<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>网格动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16E9428F1DF69D910073DFA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16E942A81DF69D910073DFA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16E942B31DF69D920073DFA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
